.menu-panel {
  height: 100%;
  width: 100%;
}

.user {
  height: 80px;
  background-color: #FFCB28;
  padding-top: 13px;
  padding-left: 17px;
}

.user > img {
  width: 50px;
}

.user > span {
  padding-left: 5px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

ul.items {
  background-color: #E57373;
  height: 100%;
}
