@import "bulma/css/bulma.css";
@import "../components/MenuAdmin/MenuButton.css";
@import "../components/MenuDashboard.css";

html, body {
  height: 100vh;
}

.columns, .column {
  height: 100vh;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
