@import "bulma/css/bulma.css";
@import "../components/User/LayoutUser.css";
@import "../components/User/HeaderTop.css";
@import "../components/User/Header.css";

html, body {
  height: 100vh;
  background-color: #536575;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
